{% extends 'base.html' %}

{% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}

{% block title %}
    Trading Journal
{% endblock title %}Trading Journal

{% block content %}
    <form method="POST" enctype="multipart/form-data" action="/">
        {% csrf_token %}
        {{ form }}
        <button>Submit</button>
    </form>


{% endblock content %}

{% block table %}

<table class="blueTable sortable"> 
    <thead>
    <tr>
    <th>Date</th>
    <th>Ticker</th>
    <th>Strategy</th>
    <th>Result</th>
    <th>Open Price</th>
    <th>Position</th>
    <th>Closed Price</th>
    <th>P&L</th>
    <th>Comments</th>
    </tr>
    </thead>
    <tfoot>
    <tr>
    <td colspan="9">
    <div class="links"><a href="#">&laquo;</a> <a class="active" href="#">1</a> <a href="#">2</a> <a href="#">3</a> <a href="#">4</a> <a href="#">&raquo;</a></div>
    </td>
    </tr>
    </tfoot>
    <tbody>
        {% for entry in entries %}
        <tr>
            <td><a href="{% url 'single-entry' entry.id %}">{{entry.entered_date}}</a></td><td>{{entry.ticker}}</td><td>{{entry.strategy}}</td><td>{{entry.result}}</td><td>{{entry.open_price}}</td><td>{{entry.position}}</td><td>{{entry.close_price}}</td><td class="entry_pnl">{{entry.pnl}}</td><td>{{entry.comments}}</td></tr>
        {% endfor %}
    
    </tbody>
    </tr>
    </table>
    {% if request.user.is_authenticated %}
    <a href="{% url 'logout' %}"><button>Logout</button></a>
{% endif %}
{% endblock table %}
